.banner-bottom {
    width: 100%;
    min-height: 40rem;
    background-image: url('../../assets/img/clive-christian-hedonistic-jump-up-and-kiss-me.jpg');
    background-position: -100% 90%;
    position: relative;
    display: flex;
    justify-content: center;
    .container {
        position: absolute;
        height: 100%;
        .left-side {
            height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .title {
                font-size: 3.8rem;
                line-height: 4.8rem;
                color: #cecece;
            }
        }
    }
}