.subs-info {
    margin: 5rem 0 5rem 0;
    @media (max-width:768px) {
        margin: 0;
        padding: 3rem 2rem;
    }
    .title {
        font-size: 3.8rem;
        line-height: 4.8rem;
    }
    .subs-cards {
        .card {
            height: 100%;
            justify-content: space-between;
            border: none;
            @media (max-width:768px) {
                padding-bottom: 1rem;
            }
            &-info {
                height: 100%;
                display: flex;
                flex-direction: column;
                .title {
                    font-size: 2.3rem;
                    line-height: 3.3rem;
                    margin-bottom: 1rem;
                    font-weight: 600;
                }
                .subtitle {
                    flex: 1;
                    font-size: 1.6rem;
                    line-height: 2.3rem;
                    margin-bottom: 2rem;
                }
            }
            &-img {
                img {
                    width: 100%;
                }
            }
        }
    }
}