.subscriptions {
    // margin: 15rem 0;
    // background-color: #2f2f2f;
    width: 100%;
    .col {
        padding: 0;
        .container {
            padding: 0;
            display: flex;
            justify-content: center;
        }
    }
    .left-side {
        display: flex;
        justify-content: center;
        img {
            width: 100%;
            box-shadow: 0 .4rem 3.2rem rgba($color: #3E1223, $alpha: 0.2);
        }
    }
    .right-side {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 8rem;
        .text {
            display: flex;
            flex-direction: column;
        }
        .title {
            font-size: 3.8rem;
            line-height: 4.8rem;
            font-weight: 600;
            // color: #cecece;
        }
        .subtitle {
            font-size: 1.6rem;
            line-height: 2.6rem;
            margin-top: 2rem;
            // color: #cecece;
        }
        .logo-grid {
            .row {
                width: 60%;
                .col-4 {
                    display: flex;
                    height: 10rem;
                }
            }
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}