.button-primary {
  display: block;
  width: 100%;
  border: 1px solid red;

  padding: 0 20px;
  font-size: 1.8rem;
  line-height: 5.4rem;
  font-weight: 600;
  text-align: center;
  color: #cecece;
  background-color: transparent;
  border-radius: 0;
  &:hover, &:active, &:active:focus, &:focus {
    background-color: #cc3633;
    border-color: #cc3633;
    color: #fff;
    cursor: pointer;
    box-shadow: unset;
  }
  &.big {
    max-width: 200px;
  }
}