.button-second {
    display: block;
    width: 100%;
    border: 1px solid red;
  
    padding: 0 20px;
    font-size: 1.8rem;
    line-height: 5.4rem;
    font-weight: 600;
    text-align: center;
    background-color: #cc3633;
    color: #fff;
    border-radius: 0;
    &:hover {
      background-color: #d24f4d;
      color: #fff;
    }
    &.big {
      max-width: 200px;
    }
}